In [1]:
import pandas as pd

# Load the excel file into a pandas DataFrame
df = pd.read_excel('DataMaze_MoneyBall_Dataset.xls')
# keep only the rows where the "category" column contains the word "Group"
df = df[df['category'].str.contains("Group")]

df_test=pd.read_excel('DataMaze_MoneyBall_Dataset.xls')
# Get a list of columns with 'team2' in their name
cols_to_keep = [col for col in df.columns if 'team2' not in col]
cols_to_keep1 = [col for col in df.columns if 'team1'not  in col]
# Keep only the columns that don't have 'team2' in their name
df1 = df[cols_to_keep]
df2 = df[cols_to_keep1]

# Save the updated DataFrame to a new excel file
df1.to_excel('train_updated_team1.xlsx', index=False)
df2.to_excel('train_updated_team2.xlsx', index=False)
# Get the number of columns
print(len(df.columns))
print(len(df1.columns))
print(len(df2.columns))

72
38
38

In [2]:
df1.head()

,team1,possession team1,possession in contest,number of goals team1,date,hour,category,total attempts team1,conceded team1,goal inside the penalty area team1,...,offsides team1,passes team1,passes completed team1,crosses team1,crosses completed team1,corners team1,free kicks team1,penalties scored team1,goal preventions team1,own goals team1
0,QATAR,0.42,0.08,0,2022-11-20,17:00:00,Group A,5,2,0,...,3,450,381,9,4,1,19,0,6,0
1,ENGLAND,0.72,0.09,6,2022-11-21,14:00:00,Group B,13,2,6,...,2,809,730,23,7,8,16,0,8,0
2,SENEGAL,0.44,0.11,0,2022-11-21,17:00:00,Group A,14,2,0,...,2,383,313,19,7,6,14,0,9,0
3,UNITED STATES,0.51,0.10,1,2022-11-21,20:00:00,Group B,6,1,1,...,1,569,509,31,4,5,11,0,7,0
4,ARGENTINA,0.64,0.12,1,2022-11-22,11:00:00,Group C,14,2,1,...,10,610,529,29,12,9,22,1,4,0

In [3]:
df2.head()

,team2,possession team2,possession in contest,number of goals team2,date,hour,category,total attempts team2,conceded team2,goal inside the penalty area team2,...,offsides team2,passes team2,passes completed team2,crosses team2,crosses completed team2,corners team2,free kicks team2,penalties scored team2,goal preventions team2,own goals team2
0,ECUADOR,0.50,0.08,2,2022-11-20,17:00:00,Group A,6,0,2,...,4,480,409,14,4,3,17,1,5,0
1,IRAN,0.19,0.09,2,2022-11-21,14:00:00,Group B,8,6,2,...,2,224,154,8,1,0,10,1,13,0
2,NETHERLANDS,0.45,0.11,2,2022-11-21,17:00:00,Group A,9,0,2,...,1,438,374,25,8,7,14,0,15,0
3,WALES,0.39,0.10,1,2022-11-21,20:00:00,Group B,7,1,1,...,1,409,321,15,6,3,15,1,7,0
4,SAUDI ARABIA,0.24,0.12,2,2022-11-22,11:00:00,Group C,3,1,2,...,1,267,190,9,2,2,16,0,14,0

In [4]:
# Get column names
cols = df2.columns

# Change the column names containing "team2" to "team1"
cols = [col.replace('team2', 'team1') if 'team2' in col else col for col in cols]

# Assign the updated column names to the DataFrame
df2.columns = cols
df2.to_excel('train_updated_team2.xlsx', index=False)

In [5]:
# Use the pandas concat function to join the two DataFrames
result = pd.concat([df1, df2])

# Save the result to a new .xlsx file
result.to_excel('result.xlsx', index=False)
print(len(result.columns))

38

In [6]:
result['possession team1']=result['possession team1']*90

In [7]:
result['attempts inside the penalty area team1'].head()

0     2
1    10
2     7
3     4
4    10
Name: attempts inside the penalty area team1, dtype: int64

In [8]:
df= result.drop(columns=["possession in contest","date","hour","category"])

In [9]:
df.head()

,team1,possession team1,number of goals team1,total attempts team1,conceded team1,goal inside the penalty area team1,goal outside the penalty area team1,assists team1,on target attempts team1,off target attempts team1,...,offsides team1,passes team1,passes completed team1,crosses team1,crosses completed team1,corners team1,free kicks team1,penalties scored team1,goal preventions team1,own goals team1
0,QATAR,37.8,0,5,2,0,0,0,0,5,...,3,450,381,9,4,1,19,0,6,0
1,ENGLAND,64.8,6,13,2,6,0,6,7,3,...,2,809,730,23,7,8,16,0,8,0
2,SENEGAL,39.6,0,14,2,0,0,0,3,8,...,2,383,313,19,7,6,14,0,9,0
3,UNITED STATES,45.9,1,6,1,1,0,1,1,4,...,1,569,509,31,4,5,11,0,7,0
4,ARGENTINA,57.6,1,14,2,1,0,0,6,5,...,10,610,529,29,12,9,22,1,4,0

In [10]:
# Get the number of non-null values in each column
num_values = df.count()

# Print the number of non-null values in each column
print(num_values)
df.to_excel('training.xlsx', index=False)

team1                                                    96
possession team1                                         96
number of goals team1                                    96
total attempts team1                                     96
conceded team1                                           96
goal inside the penalty area team1                       96
goal outside the penalty area team1                      96
assists team1                                            96
on target attempts team1                                 96
off target attempts team1                                96
attempts inside the penalty area team1                   96
attempts outside the penalty area  team1                 96
total offers to receive team1                            96
inbehind offers to receive team1                         96
inbetween offers to receive team1                        96
infront offers to receive team1                          96
receptions between midfield and defensive lines team1    96
attempted line breaks team1                              96
completed line breaks team1                              96
attempted defensive line breaks team1                    96
completed defensive line breaks team1                    96
yellow cards team1                                       96
red cards team1                                          96
fouls against team1                                      96
offsides team1                                           96
passes team1                                             96
passes completed team1                                   96
crosses team1                                            96
crosses completed team1                                  96
corners team1                                            96
free kicks team1                                         96
penalties scored team1                                   96
goal preventions team1                                   96
own goals team1                                          96
dtype: int64

In [11]:
# get a list of columns to sum up, excluding the "category" column
sum_columns = [col for col in df.columns ]
# group the data by the teamname column
grouped = df.groupby('team1')

# sum up the columns for each group
result = grouped[sum_columns].sum()

# add the teamname column back to the result dataframe
result['teamname'] = result.index


# reset the index of the result dataframe
result = result.reset_index(drop=True)
result.head()

C:\Users\deepa\AppData\Local\Temp\ipykernel_23020\282765999.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  result = grouped[sum_columns].sum()

,possession team1,number of goals team1,total attempts team1,conceded team1,goal inside the penalty area team1,goal outside the penalty area team1,assists team1,on target attempts team1,off target attempts team1,attempts inside the penalty area team1,...,passes team1,passes completed team1,crosses team1,crosses completed team1,corners team1,free kicks team1,penalties scored team1,goal preventions team1,own goals team1,teamname
0,162.9,5,44,2,4,1,4,21,16,33,...,2005,1807,65,19,22,50,1,12,0,ARGENTINA
1,81.0,3,20,4,3,0,3,7,8,10,...,1086,825,43,8,5,37,0,49,0,AUSTRALIA
2,134.1,1,34,2,1,0,1,11,19,23,...,1779,1568,51,16,17,43,0,43,0,BELGIUM
3,144.0,3,52,1,3,0,2,21,22,31,...,1698,1515,73,14,25,44,0,15,0,BRAZIL
4,103.5,4,27,4,4,0,4,14,8,20,...,1159,934,52,8,12,46,0,44,0,CAMEROON

In [12]:
print(len(result.columns))

34

In [13]:
# get a list of the column names in df_test that are not in df
missing_columns = list(set(df1.columns) - set(result.columns))

# print the result
print("Columns present in df_test but not in df: ", missing_columns)

Columns present in df_test but not in df:  ['possession in contest', 'date', 'hour', 'category', 'team1']

In [14]:
result.head()

,possession team1,number of goals team1,total attempts team1,conceded team1,goal inside the penalty area team1,goal outside the penalty area team1,assists team1,on target attempts team1,off target attempts team1,attempts inside the penalty area team1,...,passes team1,passes completed team1,crosses team1,crosses completed team1,corners team1,free kicks team1,penalties scored team1,goal preventions team1,own goals team1,teamname
0,162.9,5,44,2,4,1,4,21,16,33,...,2005,1807,65,19,22,50,1,12,0,ARGENTINA
1,81.0,3,20,4,3,0,3,7,8,10,...,1086,825,43,8,5,37,0,49,0,AUSTRALIA
2,134.1,1,34,2,1,0,1,11,19,23,...,1779,1568,51,16,17,43,0,43,0,BELGIUM
3,144.0,3,52,1,3,0,2,21,22,31,...,1698,1515,73,14,25,44,0,15,0,BRAZIL
4,103.5,4,27,4,4,0,4,14,8,20,...,1159,934,52,8,12,46,0,44,0,CAMEROON

In [15]:

# move the teamname column to the first position
cols = result.columns.tolist()
cols.insert(0, cols.pop(cols.index('teamname')))
result = result[cols]

In [16]:
result.head()

,teamname,possession team1,number of goals team1,total attempts team1,conceded team1,goal inside the penalty area team1,goal outside the penalty area team1,assists team1,on target attempts team1,off target attempts team1,...,offsides team1,passes team1,passes completed team1,crosses team1,crosses completed team1,corners team1,free kicks team1,penalties scored team1,goal preventions team1,own goals team1
0,ARGENTINA,162.9,5,44,2,4,1,4,21,16,...,12,2005,1807,65,19,22,50,1,12,0
1,AUSTRALIA,81.0,3,20,4,3,0,3,7,8,...,1,1086,825,43,8,5,37,0,49,0
2,BELGIUM,134.1,1,34,2,1,0,1,11,19,...,3,1779,1568,51,16,17,43,0,43,0
3,BRAZIL,144.0,3,52,1,3,0,2,21,22,...,5,1698,1515,73,14,25,44,0,15,0
4,CAMEROON,103.5,4,27,4,4,0,4,14,8,...,2,1159,934,52,8,12,46,0,44,0

In [20]:
result.to_excel('result1 (1).xlsx', index=False)

In [21]:
print(len(result.columns))

34

In [23]:
import pandas as pd

# Load the train.csv file
df = pd.read_excel('result1 (1).xlsx')

# Get a list of all the column names
cols = df.columns

# Replace all columns containing "team1" with "team"
df.rename(columns={col: col.replace('team1', 'team') for col in cols if 'team1' in col}, inplace=True)

# Save the modified DataFrame to a new file
df.to_excel('modified_result.xlsx', index=False)

In [24]:


# Load the train.csv file
df = pd.read_excel('modified_result.xlsx')

# Calculate the pass completion percentage for each team
df['pass_completion_percentage'] = df['passes completed team'] / df['passes team'] * 100

# Find the team with the highest pass completion percentage
highest_team = df.loc[df['pass_completion_percentage'].idxmax()]['teamname']
highest_percentage = df.loc[df['pass_completion_percentage'].idxmax()]['pass_completion_percentage']

# Print the result
print(f"The team with the highest pass completion percentage is {highest_team} with {highest_percentage:.2f}%")

The team with the highest pass completion percentage is SPAIN with 92.35%

In [26]:
# Find the team with the highest possession
highest_team = df.loc[df['possession team'].idxmax()]['teamname']
highest_possession = df.loc[df['possession team'].idxmax()]['possession team']
# Print the result
print(f"The team with the highest possesion is {highest_team} with {highest_possession} minutes")

The team with the highest possesion is ARGENTINA with 322.2 minutes

In [27]:
# Find the team with the highest possession
highest_team = df.loc[df['number of goals team'].idxmax()]['teamname']
highest_goals = df.loc[df['number of goals team'].idxmax()]['number of goals team']
# Print the result
print(f"The team with the highest goals is {highest_team} with {highest_goals} goals")

The team with the highest goals is FRANCE with 16 goals

In [28]:
# Calculate the pass completion percentage for each team
df['inbehind_offers_percentage'] = df['inbehind offers to receive team'] / df['total offers to receive team'] * 100

# Find the team with the highest pass completion percentage
highest_team = df.loc[df['inbehind_offers_percentage'].idxmax()]['teamname']
highest_percentage = df.loc[df['inbehind_offers_percentage'].idxmax()]['inbehind_offers_percentage']

# Print the result
print(f"The team with the  highest percentage of offers from inbehind is {highest_team} with {highest_percentage:.2f}%")

The team with the  highest percentage of offers from inbehind is MEXICO with 28.33%